body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'IM Fell English SC', serif;
    font-size: 4vmin;
    letter-spacing: 2.1vmin;
    width: 80vmin;
    margin: 0;
    padding: 1vmin 2vmin;
    white-space:nowrap;
    color: #00416B;
}

.menu {
    flex: 100%; 
    align-items: center;
    align-content: space-between;
    
}

.menu-container {
    display: table;
    table-layout: fixed;
    width: 76vmin;
    margin: auto;
    padding: 3vmin 0vmin;
    color: #1F6795;
}

#quotes {
    display: table-cell;
    text-align: center;
    font-size: 3vmin;
}

#moves {
    display: table-cell;
    font-size: 3vmin;
}

.reset {
    display: table-cell;
    font-size: 4vmin;
    cursor: pointer;
    text-align: right;
}

.deck {
    padding: 1vmin;
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(4, 13.125vmin);
    grid-template-rows: repeat(4, 13.125vmin);
    grid-column-gap: 2.5vmin;
    grid-row-gap: 2.5vmin;
}


.card {
    background-color: #19818F;
    font-size: 8vmin;
    color: #fff;
    text-align: center;
    padding-top: 10%;
}

.hiden-card {
    opacity: 0;
}

.matched {
    background-color: #AF690B;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vmin;
    width: 80vmin;
    background-color: #51AFBC;
}

.flip {
    transition: transform 1s;
    transform: rotateY( 180deg );
    -webkit-box-shadow: -0.6vmin 0.8vmin 0.5vmin 0vmin rgba(50, 50, 50, 0.75);
       -moz-box-shadow: -0.6vmin 0.8vmin 0.5vmin 0vmin rgba(50, 50, 50, 0.75);
            box-shadow: -0.6vmin 0.8vmin 0.5vmin 0vmin rgba(50, 50, 50, 0.75);
}

.reduce {
    transition: transform 100ms;
    transform: scale(0.75);
    color: gray;
}

.winning-quote {
    color: #AF690B;
    font-weight: bold;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(78, 186, 186, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.win-note {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 15vmin;
} 

.button {
    background-color: #168C8C;
    border: none;
    color: white;
    padding: 4vmin 9vmin;
    text-align: center;
    display: inline-block;
    font-size: 4vmin;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg)
}

.fa-pagelines {
    font-size: 5vmin;
}

.congrats {
    font-family: 'IM Fell English SC', serif;
    font-size: 6vmin;
    padding: 0 3vmin;
}

#won-moves {
    font-size: 3vmin;
    padding: 4vmin;
}

